<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form action="" method="post" novalidate>
    <a href="{% url 'add_group' %}">Create New Group</a> <br><br>
<table border="1">
<thead>
    <tr>
    <th>Group id</th>
    <th>Group Name</th>
    <th>Edit Group</th>
    <th>Delete Group</th>
    <th>Add Members To Group</th>
    <th>View Members</th>
    </tr>
</thead>
<tbody>
    {% for sts in group_list %}
    <tr>
    <td>{{sts.id}}</td>
    <td><a href="{% url 'room' room_name=sts.name %}" >{{sts.name}}</a></td>
    <td><a href="{% url 'update_group' id=sts.id %}">Edit</a></td>
    <td><a href="/chat/delete_group/{{ sts.id }}">Delete</a></td>
    <td><a href="/chat/add_members/{{ sts.id }}">Add Members</a></td>
    <td><a href="/chat/view_group/{{ sts.id }}">View Members</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>
    <br><br>
    <a href="{% url 'user_logout' %}">Logout</a> <br><br>
</body>
</html>